
// #DESIGN
.regular-delete {

}
.regular-add {

}
.regular-edit {

}

.solid-delete {

}
.solid-add {
  background-color: #0E42C5;
  color: #F3F6FC;
  border-radius: 10px;
  font-weight: bold;
  font-family: "Helvetica";
  src: url("//db.onlinewebfonts.com/t/240c73e3a86c0759a5d69f2b3ddb78a3.eot");
  src: url("//db.onlinewebfonts.com/t/240c73e3a86c0759a5d69f2b3ddb78a3.eot?#iefix")
}
.solid-edit {

}

// #ELEMENTS
.button-fetcher {

}

.button-fetcher-text {
  text-align: center;
}
